<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
     <%= link_to "Image Meta Data", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class=<%= active_tab("home") %>>
        <%= link_to "Home", root_path %>
      </li>
      <% if user_signed_in? %>
      <li class=<%= active_tab("upate_profile") %>>
        <%= link_to "Update Profile", edit_user_registration_path %>
      </li>
      <li class=<%= active_tab('new_photo') %>>
        <%= link_to "New Image", new_photo_path %>
      </li>
      <li class=<%= active_tab('index_photo') %>>
        <%= link_to "All Image", photos_path %>
      </li>
      <li class=<%= active_tab %>>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li class=<%= active_tab("login") %>>
        <%= link_to "Sign In", new_user_session_path %>
      </li>
    <% end %>
    </ul>
    
  </div><!-- /.navbar-collapse -->
</nav>
