<h3>Images Index</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col"> # </th>
      <th scope="col"> Image </th>
      <th scope="col"> Image Name </th>
      <th scope="col"> Mime Type </th>
      <th scope="col"> Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @photos.each_with_index do |photo, index| %>
      <tr>
        <th scope="row"> <%= index + 1 %> </th>
        <td> <%= image_tag(photo.avatar.url, size: "80x60") %> </td>
        <td> <%= photo.avatar.file.filename %> </td>
        <td> <%= photo.avatar.content_type %> </td>
        <td>
          <%= link_to "Edit Metadata", edit_metadata_photo_path(photo.id) %>
          /
          <%= link_to "Download", download_photo_path(photo.id) %>
          /
          <%= link_to "Destroy", photo_path(photo.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
