<h3>Images Index</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col"> # </th>
      <th scope="col"> Image </th>
      <th scope="col"> Image Name </th>
      <th scope="col"> Mime Type </th>
      <th scope="col"> Size </th>
      <th scope="col"> Edit Metadata </th>
    </tr>
  </thead>
  <tbody>
    <% @photos.each_with_index do |photo, index| %>
      <tr>
        <th scope="row"> <%= index + 1 %> </th>
        <td> <%= image_tag(photo.avatar.url, size: "80x60") %> </td>
        <td> <%= photo.avatar.file.filename %> </td>
        <td> <%= photo.avatar.content_type %> </td>
        <td> <%= photo.avatar.size %> </td>
        <td> <%= link_to "Edit Meta", edit_metadata_photo_path(photo.id) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
