<!DOCTYPE html>
<html>
  <head>
    <title>ImageMetadata</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body  style="background-color: #EFF2F7;">
    <div class="container">
      <%= render partial: 'shared/header' %>
      <%= render partial: 'shared/flash_messages' %>
      <%= yield %>
      <%= render partial: 'shared/footer' %>
    </div>
  </body>
</html>
